@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;
}

a:hover {
  text-decoration: none;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1rem;
}

h6, .h6 {
  font-size: .75rem;
}

header.navbar {
  margin-bottom: 20px;
}

.form-control {
  height: 38px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  .card {
    flex: 0 1 98%;
    margin: 0 1% 30px;
  }
}

.kanren-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  .card {
    margin: .5rem;
    flex: 1;
  }
}

@media (min-width: 544px) {
  .img-fluid {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card > {
    .card-block:first-child {
      padding: 1.25rem;
    }
    .card-block:not(.text-xs-right) {
      padding: 1rem 1rem 0;
    }
  }
  .kanren-flex-container {
    align-items: center;
  }
}

@media (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    &::after {
      content:"";
      display: block;
      width: 48%;
    }
    .card {
      flex: 0 1 48%;
    }
  }
}

@media (min-width: 992px) {
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    &::after {
      content:"";
      display: block;
      width:30%;
    }
    .card {
      flex: 0 1 30%;
    }
  }
  .pagination {
    margin-bottom: 1.75rem;
  }
}

@media (max-width: 992px) {
  .kanren-flex-container {
    flex-direction: column;
    align-items: center;
    .card {
      margin: .5rem;
    }
  }
}

@media (min-width: 1200px) {
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    &::after {
      content:"";
      display: block;
      width:30%;
    }
    .card {
      flex: 0 1 30%;
    }
  }
}

.line-height-fix {
  line-height: 1;
}
.breadcrumb {
  margin-bottom: 11px;
}

.card-date {
  margin-top: 0;
  margin-bottom: 0;
}

.list-card-date {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.gmap {
  position: relative;
  padding-bottom: 75%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
  iframe {
    border: 0;
  }
  iframe,object,embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.year {
  a {
    &:first-child {
      display: inline-block;
      margin-right: 5px;
    }
  }
}

table {
  tbody {
    tr {
      td {
        p {
          &:first-child {
            margin: 0;
          }
          margin-top: .5rem;
          margin-bottom: 0;
        }
      }
    }
  }
}