@charset "UTF-8";

//== Footer Height
@footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
}

body {
  > .container {
    margin-bottom: @footer-height;
  }
}

a:hover {
  text-decoration: none;
}

.navbar {
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.form-control {
  height: 38px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: baseline;
}
.kanren-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  .card {
    margin: .5rem;
    flex: 1;
  }
}

@media (min-width: 544px) {
  .img-fluid {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card > {
    .card-block:first-child {
      padding: 1.25rem;
    }
    .card-block:not(.text-xs-right) {
      padding: 1rem 1rem 0;
    }
  }
  .kanren-flex-container {
    align-items: center;
  }
}

@media (min-width: 768px) {
  .flex-container {
    justify-content: center;
    align-content: center;
  }
}

@media (min-width: 992px) {
  .flex-container {
    justify-content: space-around;
    align-content: space-around;
  }
  .pagination {
    margin-bottom: 1.75rem;
  }
}

@media (max-width: 992px) {
  .card:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .card:last-child {
    margin-bottom: 0;
  }
  .kanren-flex-container {
    flex-direction: column;
    align-items: center;
    .card {
      margin: .5rem;
    }
  }
}

@media (min-width: 1200px) {
  .flex-container {
    justify-content: space-around;
    align-content: space-around;
    align-items: baseline;
    .card {
    margin-bottom: 2rem;
    }
  }
  body > .container {
    margin-bottom: 40px;
  }
}

.line-height-fix {
  line-height: 1;
}
.breadcrumb {
  margin-bottom: 11px;
}

.card-date {
  margin-top: 0;
  margin-bottom: 0;
}

.list-card-date {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.gmap {
  position: relative;
  padding-bottom: 75%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
  iframe,object,embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: @footer-height;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  .container-fluid {
    width: auto;
    padding: 0 15px;
    margin: 0;
    p, a {
      margin:@footer-height/3 0;
      line-height: @footer-height/3;
    }
    a {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.year {
  a {
    &:first-child {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
